<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>iTurbo</title>
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<meta name="mobile-web-app-capable" content="no">
	<meta name="theme-color" content="#9590ee">
	<link rel="icon" type="image/png" href="https://cdn.turbo.ooo/iturbo/icon.png">
	<meta property="og:site_name" content="iTurbo | The waifu bot that does it all">
	<meta name="twitter:url" content="https://iturbo.cc/">
	<meta property="og:url" content="https://iturbo.cc/">
	<meta property="og:see_also" content="https://iturbo.cc/">
	<meta itemprop="name" content="iTurbo">
	<meta name="twitter:title" content="iTurbo">
	<meta property="og:title" content="iTurbo">
	<meta itemprop="image" content="https://cdn.turbo.ooo/iturbo/icon.png">
	<meta name="twitter:image" content="https://cdn.turbo.ooo/iturbo/icon.png">
	<meta property="og:image" content="https://cdn.turbo.ooo/iturbo/icon.png">
	<meta name="description" content="Invite iTurbo now to spice up your server with music, reactions, and more!">
	<meta name="twitter:description" content="Invite iTurbo now to spice up your server with music, reactions, and more!">
	<meta property="og:description" content="Invite iTurbo now to spice up your server with music, reactions, and more!">
	<link rel="stylesheet" href="https://cdn.turbo.ooo/iturbo/css/normalize.css">
	<link rel="stylesheet" href="https://cdn.turbo.ooo/iturbo/css/milligram.css">
	<link rel="stylesheet" href="https://cdn.turbo.ooo/iturbo/css/main.css">
	<style class="__css_exfil_protection_filtered_styles"></style>
</head>
<body>
	<div class="container">
		<div class="item">
			<h1 class="logo">iTurbo</h1>
			<p id="tagline">The waifu bot that does it all</p>
		</div>
		<div class="item">
			<a class="button"
				href="https://discordapp.com/oauth2/authorize?client_id=175249503421464576&permissions=2016537702&scope=bot">
				Invite iTurbo
			</a>
			<a class="button button-outline"
			href="https://discord.gg/011UYuval0uSxjmuQ">
			Get Support
		</a>
		</div>
	</div>
</body>
</html>