/* latin */
@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

html,
body,
.container {
  height: 100%;
  background-color: #eae9fa;
  color: #9590ee;
  font-family: 'Lato-Regular', sans-serif;
}

a {
  color: #bbb8f8;
}

a:hover {
  color: #9590ee;
}

img,
h1 {
  display: inline-block;
  vertical-align: middle;
  font-family: Lato-Bold, sans-serif;
}

img.logo {
  height: 1.2em;
  font-size: 6em;
  line-height: 1em;
  padding-right: 0.3em;
  transform: translateY(-0.2em);
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  height: 4.4rem;
  font-size: 1.3rem;
  line-height: 4.4rem;
  background-color: #9590ee;
  border-color: #9590ee;
}

.button:hover {
  background-color: #bbb8f8;
  border-color: #bbb8f8;
}

.button.button-outline {
  color: #9590ee;
}

.button.button-outline:hover {
  color: #bbb8f8;
  border-color: #bbb8f8;
}

h1 {
  font-size: 6em;
  line-height: 1em;
}

#tagline {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

#disclaimer {
  font-size: 1em;
}

::selection {
  background: #bbb8f8;
  color: #eae9fa;
}

.logo {
  margin-bottom: 0rem;
}
